html, body {
  height: 100%;
  width: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.clearfix {
  &:after {
    clear: both;
    content: '';
    display: block;
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.fa {
  color: #fff;
}

a:visited {
  color: inherit;
}
